<div class="container">
  <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">Player Info</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- 模态框主体 -->
        <div class="modal-body">
          <div class="card">
            <div class="card-header">NAME:&nbsp;{{playerDetail.name}}&nbsp;<img class="img-thumbnail" style="width: 40px;height: 40px" [src]="playerDetail.image"></div>
            <div class="card-body">NUMBER: &nbsp;{{playerDetail.number}}</div> 
            <div class="card-body">TEAM: &nbsp;{{playerDetail.teamName}}</div> 
            <div class="card-body">AGE: &nbsp;{{playerDetail.age}}YEAR</div> 
            <div class="card-body">HEIGHT: &nbsp;{{playerDetail.height}}CM</div> 
            <div class="card-body">PLAYTIME: &nbsp;{{playerDetail.playTime}}MIN</div> 
            <div class="card-footer">YEAR: &nbsp;{{playerDetail.playersYear}}</div>
          </div>
        </div>
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</div>
