<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a [routerLink]="[ '/' ]" routerLinkActive="active" class="navbar-brand">NBA</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="[ '/lakers' ]" routerLinkActive="active" class="nav-link">LAKERS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/rocket' ]" routerLinkActive="active" class="nav-link">ROCKET</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/bucks' ]" routerLinkActive="active" class="nav-link">BUCKS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/celtic' ]" routerLinkActive="active" class="nav-link">CELTIC</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
