<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a [routerLink]="[ '/' ]" routerLinkActive="active" class="navbar-brand">NBA</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [routerLink]="[ '/lakers' ]" routerLinkActive="active" class="nav-link">LAKERS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/rocket' ]" routerLinkActive="active" class="nav-link">ROCKET</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/bucks' ]" routerLinkActive="active" class="nav-link">BUCKS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/celtic' ]" routerLinkActive="active" class="nav-link">CELTIC</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/raptors' ]" routerLinkActive="active" class="nav-link">RAPTORS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/warrion' ]" routerLinkActive="active" class="nav-link">WARRION</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/nuggets' ]" routerLinkActive="active" class="nav-link">NUGGETS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/thunder' ]" routerLinkActive="active" class="nav-link">THUNDER</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/spurs' ]" routerLinkActive="active" class="nav-link">SPURS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/pelicans' ]" routerLinkActive="active" class="nav-link">PELICANS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/76ers' ]" routerLinkActive="active" class="nav-link">76ERS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/timberwolves' ]" routerLinkActive="active" class="nav-link">TIMBERWOLVES</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/pacers' ]" routerLinkActive="active" class="nav-link">PACERS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/blazers' ]" routerLinkActive="active" class="nav-link">BLAZERS</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/heat' ]" routerLinkActive="active" class="nav-link">HEAT</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="[ '/clippers' ]" routerLinkActive="active" class="nav-link">CLIPPERS</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
