<div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NUMBER</th>
          <th>NAME</th>
          <th>TEAM</th>
          <th>SCORE</th>
          <th>ASSIST</th>
          <th>REBOUND</th>
          <th>STEAL</th>
          <th>BLOCK</th>
          <th>MISS</th>
          <th>THREEPOINT</th>
          <th>PLAYTIME</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of players">
        <tr [routerLink]="[ '/thunder', item.number, item.team]" data-toggle="modal" data-target="#myModal">
          <td>{{item.number}}</td>
          <td>{{item.name}}</td> 
          <td>{{item.team}}</td>
          <td>{{item.score}}</td>
          <td>{{item.assist}}</td>
          <td>{{item.rebound}}</td>
          <td>{{item.steal}}</td>
          <td>{{item.block}}</td>
          <td>{{item.miss}}</td>
          <td>{{item.threePoint}}</td>
          <td>{{item.playTime}}</td>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>
  </div>
  